@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Zilla Slab", serif;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}

.header {
  font-family: zilla;
}

.custom-text-size {
  font-size: 13px;
}
