@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Zilla Slab", serif;
  background-color: rgb(30, 30, 30);
  color: white;
}

.App {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}

.header {
  font-family: "Robotto", sans-serif;
  font-optical-sizing: auto;
}

.custom-text-size {
  font-size: 13px;
}

.custom-font {
  font-family: "Montserrat", sans-serif;
}

.home-font {
  font-family: "Poiret One, cursive";
}
